.shops-header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shops-header-link{
    color: black;
}
.shops-header-link:hover{
    color: black;
}

.here{
    font-weight: bold;
    text-decoration-line: underline;
}

.allshops-subLinks{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#refine-tabs{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.refine-shop{
    margin: 0 0.7rem;
}

.refine-preference{
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.allshops-wraper{
    display: grid;
    grid-template-columns: 20%  1fr;
    margin: 2rem 0;
}

.promoted-shops{
    margin: 1rem 0;
}

