.shops-header {
  margin-top: 3rem;
}

.refine-shop-category {
  list-style-type: none;
  margin: 0 0.7rem;
}

.refine-shop-user-preferences {
  list-style-type: none;
}

.refine-preference {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.shops-top-details {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
