.shop {
  width: 30%;
  margin-bottom: 2rem;
  text-align: center;
}

.boutique-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.boutique-description-hover:hover .boutique-description {
  opacity: 1;
}

.all-shops {
  margin-bottom: 1.6rem;
}