.navigation-container button {
  background-color: transparent;
  border: none;
  outline: none !important;
  padding: 0.7rem 1rem;
}

.navigation-container {
  border-bottom: 1px solid rgb(219, 216, 216);
}

.settings-menu {
  list-style-type: none;
  margin-bottom: 0;
  background-color: #222222;
  padding: 0.5rem 2rem;
}

.settings-menu button {
  font-size: 1rem;
  color: #ffffff;
}

.brand {
  font-size: 3rem;
}

#navbar-menu {
  padding-top: 1rem;
}

#navbar-menu button {
  font-size: 1.1rem;
}

#navbar-menu button:hover {
  color: rgb(182, 178, 178);
}

.navbar-nav {
  width: 95vw;
}

.white-border {
  border-bottom: 3px solid #ffffff;
}

.is-active {
  border-bottom: 3px solid rgb(250, 78, 78);
}