.navigation-container button {
  background-color: transparent;
  border: none;
  outline: none !important;
  padding: 0.7rem 1rem;
}

.navigation-container a {
  text-decoration: none;
}

.navigation-container {
  padding-bottom: 3rem;
}

.settings-menu {
  list-style-type: none;
  width: 95vw;
  margin-bottom: 0;
}

.settings-menu button {
  font-size: 1rem;
}

.brand {
  font-size: 3rem;
}

#navbarMenu {
  padding-top: 1rem;
}

#navbarMenu button {
  font-size: 1.1rem;
}

#navbarMenu button:hover {
  color: rgb(182, 178, 178);
}

.navbar-nav {
  width: 95vw;
}

.white-border {
  border-bottom: 3px solid #ffffff;
}

.is-active {
  border-bottom: 3px solid rgb(250, 78, 78);
}