.seller-details-container {
  margin-top: 6rem;
}

.seller-image-container {
  width: 50%;
}

.seller-image {
  width: 100%;
}

.seller-details {
  text-align: center;
  width: 30%;
  margin: 0 5rem;
}

.seller-logo {
  width: 15rem;
  height: 8rem;
  margin-bottom: 2rem;
}

.seller-details>p {
  max-height: 6rem;
  overflow: hidden;
}

.seller-details>button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #222222;
}

.open-modal-container {
  padding: 4rem;
}

.seller-tabs {
  justify-content: flex-end;
  border-bottom: 1px solid rgb(167, 167, 167);
  margin-top: 1rem;
}

.seller-tab {
  list-style-type: none;
  margin-right: 0.2rem;
  border-left: 1px solid rgb(167, 167, 167);
  border-right: 1px solid rgb(167, 167, 167);
  border-top: 1px solid rgb(167, 167, 167);
  border-bottom: 0;
}

.seller-tab button {
  background-color: transparent;
  border: none;
  color: #6e6969;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.seller-details>button:hover ,
.seller-tab button:hover {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
}