.seller-product-container {
  width: 30%;
}

.seller-product-image {
  width: 100%;
}

.seller-product-image-container {
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.seller-product-image-container::before, 
.seller-product-image-container::after {
  top: 65%;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
  position: absolute;
  background: inherit;
  transition: .4s;
}

.seller-product-image-container::after {
  font-size: 0.9rem;
  background: black;
  opacity: 0.6;
  transform: translateY(100%);
}

.seller-product-image-container:hover:before {
  transform: translateY(-50%)
}

.seller-product-image-container:hover:after {
  transform: translateY(0);
}

.seller-product-sizes {
  color: #ffffff;
  position: absolute;
  top: 75%;
  opacity: 0;
  transition: .3s;
  z-index: 2;
}

.seller-product-image-container:hover .seller-product-sizes {
  opacity: 1;
}

.seller-product-name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #222222;
  font-weight: 500;
}

.seller-product-name:hover {
  color: #222222;
}

.seller-product-price {
  font-weight: 500;
}