.image-threeacross{
    width: 100%;
    display: inline-block;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.image-threeacross:before,
.image-threeacross:after{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    position: absolute;
    top: 18rem;
    background: inherit;
    transition: .4s;
}

.image-threeacross:after{
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-size: 0.9rem;
    background: black;
    opacity: 0.6;
    transform: translateY(100%);
    content: attr(data-text);
}

.image-threeacross:hover:before{
    transform: translateY(-50%)
}

.image-threeacross:hover:after{
    transform: translateY(0);
    height: 80px;
} 

/* .productDescription{
    position: absolute;
    top: 80%;
    color: #fff;
    width: 100%;
    opacity: 0;
}

.image-threeacross:hover .productDescription{
    opacity: 1;
    transition: .10s;
} */


/* .remove-sizeDetails:hover{
    background-color: black;
    color: white;
    text-decoration-line: none;
    height: 4rem;
    opacity: 0;
    position: relative;
    top: -4rem; 
} */

/*.remove-sizeDetails:hover{
    opacity: 0.7;
    color: white;
    text-decoration-line: none;
}

.removable-sizeText{
    margin: 0 1rem;
}

.name-price-threeacross{
    position: relative;
    top: -4rem;
}


.product-name-threeacross{
    margin: 0.5rem auto;
    font-size: 0.8rem;
}

.price-threeacross{
    margin: 0.5rem auto;
    font-size: 0.9rem;
} */

.detailsLink{
    display: block;
    color: black;
}

.detailsLink:hover{
    color: black;
}

.name-threeacross{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.price-threeacross{
    font-size: 1rem;
    margin: 1rem 0;
}

.price-threeacross:hover{
    text-decoration-line: none;
}